@{
    Layout = "_LayoutColaborador";
}

@{
    ViewData["Title"] = "Colaboradores";
}

<div>
    <h2 class="display-4 text-center mt-5 mb-5">Bem Vindo!</h2>

    <p class="lead text-center">
        Sistema gerenciador MV Imobiliária, aqui você poderá acessar todos os registros de imóveis e leads do site. Além de poder realizar novos cadastros, alterar e também excluir.
    </p>

    <p class="lead text-center">
       OBS: Para ter acesso a todos os recursos faça seu login. 
    </p>
</div>