@model Colaborador

@{
    Layout = "_LayoutColaborador";
}

@{
    ViewData["Title"] = "Erro";
}

<h1 class="text-danger">Você precisa ser um usuário com acesso de administrador para ter acesso a esta área!</h1>