@model ICollection<Imoveis>

@{
    ViewData["Title"] = "Clientes";
}
<div class="row mt-5">
    <div class="col-sm-4 mb-5">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/img/cliente.jpg" alt="Imagem de capa do card">
            <div class="card-body">
                <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o
                    conteúdo do card.</p>
            </div>
        </div>
    </div>

    <div class="col-sm-4 mb-5">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/img/cliente.jpg" alt="Imagem de capa do card">
            <div class="card-body">
                <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o
                    conteúdo do card.</p>
            </div>
        </div>
    </div>

    <div class="col-sm-4 mb-5">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/img/cliente.jpg" alt="Imagem de capa do card">
            <div class="card-body">
                <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o
                    conteúdo do card.</p>
            </div>
        </div>
    </div>

    <div class="col-sm-4 mb-5">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/img/cliente.jpg" alt="Imagem de capa do card">
            <div class="card-body">
                <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o
                    conteúdo do card.</p>
            </div>
        </div>
    </div>

    <div class="col-sm-4 mb-5">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/img/cliente.jpg" alt="Imagem de capa do card">
            <div class="card-body">
                <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o
                    conteúdo do card.</p>
            </div>
        </div>
    </div>

    <div class="col-sm-4 mb-5">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/img/cliente.jpg" alt="Imagem de capa do card">
            <div class="card-body">
                <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o
                    conteúdo do card.</p>
            </div>
        </div>
    </div>
</div>

<br><br><br><br><br><br><br><br><br><br>