@{
    ViewData["Title"] = "Quem Somos";
}

<div>

            <h2 class="text-center mt-5">Quem Somos:</h2>

            <p class="text-justify mb-5 mt-5">

                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vehicula ornare auctor. Fusce vehicula eros et ex posuere rhoncus. Vivamus ac consequat tellus. Proin tincidunt purus ante, non feugiat ante laoreet sed. Nullam a luctus justo. Quisque ut enim sed nulla laoreet mattis sit amet sollicitudin augue. Nam sed libero in dolor ultrices faucibus non at nibh.

                Integer sed turpis sem. Aliquam erat volutpat. Quisque ligula lectus, convallis non rutrum ac, pretium ut nisi. Ut sem ipsum, facilisis eget lobortis ac, molestie nec enim. Donec dapibus rhoncus suscipit. Suspendisse id faucibus justo. Fusce varius tortor diam, placerat tristique turpis suscipit non. In scelerisque odio in libero pharetra, et faucibus neque hendrerit.

                <br><br>
                <img class="rounded mx-auto d-block" src="/img/imob-1.jpg" width="100%">
                <br><br> 

                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vehicula ornare auctor. Fusce vehicula eros et ex posuere rhoncus. Vivamus ac consequat tellus. Proin tincidunt purus ante, non feugiat ante laoreet sed. Nullam a luctus justo. Quisque ut enim sed nulla laoreet mattis sit amet sollicitudin augue. Nam sed libero in dolor ultrices faucibus non at nibh.

                Integer sed turpis sem. Aliquam erat volutpat. Quisque ligula lectus, convallis non rutrum ac, pretium ut nisi. Ut sem ipsum, facilisis eget lobortis ac, molestie nec enim. Donec dapibus rhoncus suscipit. Suspendisse id faucibus justo. Fusce varius tortor diam, placerat tristique turpis suscipit non. In scelerisque odio in libero pharetra, et faucibus neque hendrerit.

                <br><br>
                <img class="rounded mx-auto d-block" src="/img/imob-02.jpg" width="100%">
                <br><br>

                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vehicula ornare auctor. Fusce vehicula eros et ex posuere rhoncus. Vivamus ac consequat tellus. Proin tincidunt purus ante, non feugiat ante laoreet sed. Nullam a luctus justo. Quisque ut enim sed nulla laoreet mattis sit amet sollicitudin augue. Nam sed libero in dolor ultrices faucibus non at nibh.

                Integer sed turpis sem. Aliquam erat volutpat. Quisque ligula lectus, convallis non rutrum ac, pretium ut nisi. Ut sem ipsum, facilisis eget lobortis ac, molestie nec enim. Donec dapibus rhoncus suscipit. Suspendisse id faucibus justo. Fusce varius tortor diam, placerat tristique turpis suscipit non. In scelerisque odio in libero pharetra, et faucibus neque hendrerit.
               
                <br><br>
                <img class="rounded mx-auto d-block" src="/img/imob-03.jpg" width="100%">
                <br><br>

                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vehicula ornare auctor. Fusce vehicula eros et ex posuere rhoncus. Vivamus ac consequat tellus. Proin tincidunt purus ante, non feugiat ante laoreet sed. Nullam a luctus justo. Quisque ut enim sed nulla laoreet mattis sit amet sollicitudin augue. Nam sed libero in dolor ultrices faucibus non at nibh.

                Integer sed turpis sem. Aliquam erat volutpat. Quisque ligula lectus, convallis non rutrum ac, pretium ut nisi. Ut sem ipsum, facilisis eget lobortis ac, molestie nec enim. Donec dapibus rhoncus suscipit. Suspendisse id faucibus justo. Fusce varius tortor diam, placerat tristique turpis suscipit non. In scelerisque odio in libero pharetra, et faucibus neque hendrerit.
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            </p>

        </div>